<!DOCTYPE html>
<html>
  <head>
    <title>EmailPickerRails</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= image_tag("TheInformationLogo.png", :alt => "The Information") %>
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-8 offset-lg-2">
          <h1>Welcome!</h1>
          <h3>Email is a critical communications channel for <span>The Information</span>. We want our subscribers to have control of when they hear from us and what kind of emails they receive.</h3>
        </div>
      </div>
    </div>
    <%= yield %>
  </body>
</html>
